<%= render 'pages/navbar' %>


<main class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-camera-retro"></i>フォトギャラリー</h1>
    <p>かわいい猫たちのフォトギャラリーをご覧ください。</P>
  </div>
  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-3">
      <div class="img-thumbnail">
        <img src="https://source.unsplash.com/C0zDWAPFT9A">
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-3">
      <div class="img-thumbnail">
        <img src="https://source.unsplash.com/5GQszN6vyI8">
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-3">
      <div class="img-thumbnail">
        <img src="https://source.unsplash.com/egfS7HzgKcc">
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-3">
      <div class="img-thumbnail">
        <img src="https://source.unsplash.com/e-S23SJzFqs">
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-3">
      <div class="img-thumbnail">
        <img src="https://source.unsplash.com/Hnwm8ktAd6E">
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-3">
      <div class="img-thumbnail">
        <img src="https://source.unsplash.com/gb3gq2Nh5xE">
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-3">
      <div class="img-thumbnail">
        <img src="https://source.unsplash.com/XKhV1c4oV7c">
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-3">
      <div class="img-thumbnail">
        <img src="https://source.unsplash.com/7qau-YIXn90">
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-3">
      <div class="img-thumbnail">
        <img src="https://source.unsplash.com/QTe-MHNUrz4">
      </div>
    </div>
  </div>
</main>
